#house_page_payment{
    width: 100%;
    background: rgba(1,109,95,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(1,109,95,1)), color-stop(29%, rgba(2,99,89,1)), color-stop(64%, rgba(8,92,74,1)), color-stop(100%, rgba(6,75,55,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: radial-gradient(ellipse at center, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016d5f', endColorstr='#064b37', GradientType=1 );
    padding: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#house_page_payment_container{
    width: 100%;
}
#house_page_payment_title_container{
    display: inline-block;
}
#house_page_payment_title{
    font-size: 40px;
    color: #ffffff;
}
#house_page_payment_title_border{
    width: 50%;
    height: 5px;
    background-color: #ffffff;
}
#house_page_payment_method_container{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 30px;
}
.hp_payment_method_choice{
    margin: 0 20px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.hp_payment_method_choice:hover{
    color: white;
}
.hp_payment_method_choice_active{
    color: white;
}
#house_page_payment_content{
    width: 70%;
    /*background-color: white;*/
    margin: 0 auto;
/*    height: 300px;*/
}


#house_installation_section{
    width: 100%;
    height: 100%;
}
#house_pay_full_section{
    width: 100%;
    height: 100%;
}
#desktop_house_pay_full{
    width: 100%;
    height: 100%;
    background-color: red;
}
#desktop_house_installation{
    width: 100%;
    height: 100%;
    background-color: green;
}
#mobile_house_pay_full{
    width: 100%;
    height: 100%;
    display: none;
    background-color: cyan;
}
#mobile_house_installation{
    width: 100%;
    height: 100%;
    display: none;
    background-color: blue;
}
.house_pay_full_hide{
    display: none;
}
.house_installation_hide{
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1279px){/*tablet*/
    #desktop_house_pay_full{
        display: none;
    }
    #desktop_house_installation{
        display: none;
    }
    #mobile_house_pay_full{
        display: block;
    }
    #mobile_house_installation{
        display: block;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape){/*phone landscape*/

}
@media only screen and (max-width: 480px){/*phone portrait*/
    #house_page_payment{
        padding: 20px;
    }
    #house_page_payment_title{
        font-size: 28px;
    }
    #house_page_payment_title_border{
        height: 3px;
    }
    #house_page_payment_method_container{
        margin: 40px auto;
        font-size: 18px;
    }
    #house_page_payment{
        padding: 20px;
    }
    #house_page_payment_content{
        width: 100%;
    }



    #desktop_house_pay_full{
        display: none;
    }
    #desktop_house_installation{
        display: none;
    }
    #mobile_house_pay_full{
        display: block;
    }
    #mobile_house_installation{
        display: block;
    }
}
