#house_page_interior{
    width: 100%;
    background-color: #848484;
    padding: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#house_page_interior_container{
    width: 100%;
}
#house_page_interior_title_container{
    display: inline-block;
}
#house_page_interior_title{
    font-size: 40px;
    color: white;
}
#house_page_interior_title_border{
    width: 50%;
    height: 5px;
    background-color: white;
}
#house_page_interior_images_container{
    width: 80%;
    margin: 50px auto;
    /*background-color: cyan;*/
}
.house_page_interior_image_item_container{
    padding: 0.2vw;
}
.hp_interior_image_container{
    position: relative;
    overflow: hidden;
    border: 5px solid white;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 29px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -9px rgba(0,0,0,0.75);
}
.hp_interior_image_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.hp_interior_image_overlay_zoom_icon{
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.hp_interior_image_container:hover .hp_interior_image_overlay{
    background-color: rgba(0,0,0,0.7);
}
.hp_interior_image_container:hover .hp_interior_image_overlay_zoom_icon{
    opacity: 1;
}
.hp_interior_image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hp_interior_top{
    /*background-color: red;*/
    height: 22vw;
}
.hp_interior_bottom{
    height: 22vw;
}
@media only screen and (min-width: 768px) and (max-width: 1279px){/*tablet*/

}
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape){/*phone landscape*/

}
@media only screen and (max-width: 480px){/*phone portrait*/
    #house_page_interior{
        padding: 20px;
    }
    #house_page_interior_images_container{
        width: 100%;
        margin: 35px auto;
    }
    #house_page_interior_title{
        font-size: 28px;
    }
    #house_page_interior_title_border{
        height: 3px;
    }


    .house_page_interior_image_item_container{
        padding: 0.5vw;
    }
    .hp_interior_top{
        /*background-color: red;*/
        height: 55vw;
    }
    .hp_interior_bottom{
        height: 55vw;
        display: none;
    }
}
