/*start banner style*/
#d_banner{
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#d_banner_container{
    width: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
#d_banner_background{
    width: 71%;
    margin: 0 auto;
}
#d_banner_background_image{
    width: 100%;
    vertical-align: middle;
}
.d_banner_side_link{
    height: 100%;
    width: 15%;
    position: absolute;
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
    background: blue;/*remove*/
}
.home_link{
    top: 0;
    left: 0;
    -webkit-box-shadow: 10px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 13px 1px rgba(0,0,0,0.75);
}
.land_link{
    top: 0;
    right: 0;
    -webkit-box-shadow: -10px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 0px 13px 1px rgba(0,0,0,0.75);
    box-shadow: -10px 0px 13px 1px rgba(0,0,0,0.75);
}
.d_banner_side_image{
    height: 100%;
    object-fit: cover;
    position: absolute;
    vertical-align: middle;
}
.d_banner_side_link_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.d_banner_side_link_home_overlay{
    background: rgba(1,109,95,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(1,109,95,1)), color-stop(29%, rgba(2,99,89,1)), color-stop(64%, rgba(8,92,74,1)), color-stop(100%, rgba(6,75,55,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    background: radial-gradient(ellipse at center, rgba(1,109,95,1) 0%, rgba(2,99,89,1) 29%, rgba(8,92,74,1) 64%, rgba(6,75,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016d5f', endColorstr='#064b37', GradientType=1 );
}
.d_banner_side_link_land_overlay{
    background: rgba(135,106,96,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(135,106,96,1) 0%, rgba(133,103,92,1) 29%, rgba(128,85,69,1) 64%, rgba(122,79,65,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(135,106,96,1)), color-stop(29%, rgba(133,103,92,1)), color-stop(64%, rgba(128,85,69,1)), color-stop(100%, rgba(122,79,65,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(135,106,96,1) 0%, rgba(133,103,92,1) 29%, rgba(128,85,69,1) 64%, rgba(122,79,65,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(135,106,96,1) 0%, rgba(133,103,92,1) 29%, rgba(128,85,69,1) 64%, rgba(122,79,65,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(135,106,96,1) 0%, rgba(133,103,92,1) 29%, rgba(128,85,69,1) 64%, rgba(122,79,65,1) 100%);
    background: radial-gradient(ellipse at center, rgba(135,106,96,1) 0%, rgba(133,103,92,1) 29%, rgba(128,85,69,1) 64%, rgba(122,79,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#876a60', endColorstr='#7a4f41', GradientType=1 );
}
.d_banner_side_link_icon_container{
    width: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.d_banner_side_link_icon{
    width: 100%;
}
.home_icon{
    -webkit-animation: iconAnim 1s infinite alternate;
    -o-animation: iconAnim 1s infinite alternate;
    animation: iconAnim 1s infinite alternate;
}
.land_icon{
    -webkit-animation: iconAnim 1s infinite alternate 1s;
    -o-animation: iconAnim 1s infinite alternate 1s;
    animation: iconAnim 1s infinite alternate 1s;
}
@keyframes iconAnim{
    from{
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    to{
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        -moz-transform: translate(-50%, -50%) scale(1.1);
        -ms-transform: translate(-50%, -50%) scale(1.1);
        -o-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
    }
}
.d_banner_side_link__icon_title{
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    width: 10vw;/*to fit khmer font*/
    text-align: center;
    margin-top: 1vw;/*to fit khmer font*/
}
.d_banner_side_link:hover .d_banner_side_link_overlay{
    opacity: 1;
}
.banner_link_active{
    -webkit-animation: bannerLinkActiveAnim 0.2s forwards ease-out 1;
    -o-animation: bannerLinkActiveAnim 0.2s forwards ease-out 1;
    animation: bannerLinkActiveAnim 0.2s forwards ease-out 1;
    z-index: 2;
}
.d_banner_side_link_overlay.d_banner_side_link_overlay_active{
    opacity: 1;
}
@keyframes bannerLinkActiveAnim{
    0%{
        width: 15%;
    }
    100%{
        width: 100%;
    }
}
/*end banner style*/
@media only screen and (min-width: 768px) and (max-width: 1279px){/*tablet*/
    .d_banner_side_link__icon_title{
        font-size: 3vw;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape){/*phone landscape*/

}
@media only screen and (max-width: 480px){/*phone portrait*/
    #d_banner{
        display: none;
    }
}
