#mobile_side_nav{
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1279px){/*tablet*/

}
@media only screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape){/*phone landscape*/

}
@media only screen and (max-width: 480px){/*phone portrait*/
    #mobile_side_nav_overlay{
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 99;
        display: none;
    }
    #mobile_side_nav{
        width: 60%;
        position: fixed;
        right: -60%;
        top: 0;
        height: 100%;
        bottom: 0;
        background-color: #e3e3e3;
        z-index: 100;
        display: block;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    #mobile_side_nav.slideIn{
        right: 0;
    }
    #mobile_side_menu_container{

    }
    .mobile_menu_item{
        margin: 4% 6%;
        padding: 3% 0;
        border-bottom: 1px solid #044B38;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #044B38;
    }
}
